aside.el-aside {
  background-color: #3481c5!important
}
.el-card__body{
  padding: 0px!important;
}
.el-card{
  border: none;
}
tr{
  line-height: 0;
}
.el-select-dropdown.el-popper.is-multiple{
  margin-top: -8px;
}
.el-dialog__header{
  line-height: 20px;
}
.el-dialog__footer{
  line-height: 20px;
}